:root {
    --primary-100:#C7B299;
    --primary-200:#a9957d;
    --primary-300:#675640;
    --accent-100:#A68B5B;
    --accent-200:#483507;
    --text-100:#4D4D4D;
    --text-200:#797979;
    --bg-100:#F5EFE7;
    --bg-200:#ebe5dd;
    --bg-300:#c2bdb5;
    background-color: var(--bg-100);
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--text-100) !important;
}
