#login-box {
    display: flex;
    border-radius: 0.15rem;
    justify-content: center;
    background-color: var(--bg-200);
    height: 100%;
    width: 100%;
}

#border-wrap {
    background: linear-gradient(var(--accent-200),var(--accent-100));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 0.25rem;
    position: relative;
    min-width: 350px;
    width: 21vw;
    height: 60vh;
    min-height: 400px;
    left: 50%;
    transform: translate(-50%, 15%);
    font-family: var(--font-bold);
}

.form-floating, .loginButton {
    margin-bottom: 20px;
}

label {
    color: var(--text-100);
}

.form-control {
    width: 100%;
}

#page-swap-button {
    border: var(--accent-100) solid 0.15rem;
    border-radius: 20px;
    width: 60%;
    transition: all 0.25s;
}

#page-swap-button:hover {
    width: 65%;
}

.btn {
    background-color: var(--primary-200) !important;
    transition: all 250ms !important;
}

.btn:hover {
    background-color: var(--primary-150) !important;
}