nav {
  background-color: var(--bg-300);
  border-bottom: solid var(--accent-200);
  font-family: var(--font-boldER);
}

.drop-down {
  transform: translateX(-25%);
  border: solid var(--accent-200);
  background-color: var(--bg-300);
}

.dropdown-btn {
  width: 125px;
  margin: 5px;
  align-items: center;
}

.dropdown-icon {
  width: 20%;
}

.dropdown-label {
  width: 80%;
}

ul.position-absolute {
  padding: 0;
}